/*------------------------------------*\
   RIBBON CSS
\*------------------------------------*/



/*------------------------------------*\
   END RIBBON CSS
\*------------------------------------*/ 

/*------------------------------------*\
   HERO CSS
\*------------------------------------*/

/* Screens */
/* Local fixes */

/*------------------------------------*\
   END HERO CSS
\*------------------------------------*/ 

/*------------------------------------*\
   SELECT CSS
\*------------------------------------*/

/* Screens */
/* Local fixes */

@media (min-width:1069px) {
    .section-header {
        align-items: flex-end;
        grid-column-gap: 80px;
        column-gap: 50px;
    }
}

/*------------------------------------*\
   END SELECT CSS
\*------------------------------------*/ 

/*------------------------------------*\
   GUIDED TOUR CSS
\*------------------------------------*/

/* Screens */
/* Local fixes */

/*------------------------------------*\
   END GUIDED TOUR CSS
\*------------------------------------*/ 

/*------------------------------------*\
   INCENTIVE CSS
\*------------------------------------*/

/* Screens */
/* Local fixes */

/*------------------------------------*\
   END INCENTIVE CSS
\*------------------------------------*/ 

/*------------------------------------*\
   CONSIDER CSS
\*------------------------------------*/

/* Screens */
/* Local fixes */

/*------------------------------------*\
   END CONSIDER CSS
\*------------------------------------*/ 

/*------------------------------------*\
   ESSENTIALS CSS
\*------------------------------------*/

/* Screens */
/* Local fixes */

/*------------------------------------*\
   END ESSENTIALS CSS
\*------------------------------------*/ 

/*------------------------------------*\
   IMAGE ACCORDION CSS
\*------------------------------------*/

/* iPhone and Mac */

/* Screens */
/* Local fixes */

/* iPhone and Apple Watch */

/* Screens */
/* Local fixes */

/* iPhone and AirPods */

/* Screens */
/* Local fixes */

/*------------------------------------*\
   END IMAGE ACCORDION CSS
\*------------------------------------*/ 

/*------------------------------------*\
   INDEX CSS
\*------------------------------------*/



/*------------------------------------*\
   END INDEX CSS
\*------------------------------------*/ 

/*------------------------------------*\
   SOSUMI CSS
\*------------------------------------*/



/*------------------------------------*\
   END SOSUMI CSS
\*------------------------------------*/ 