/*------------------------------------*\
		LOCAL SCREENS
\*------------------------------------*/






/*------------------------------------*\
		END LOCAL SCREENS
\*------------------------------------*/




/*------------------------------------*\
		LOCAL FIXES
\*------------------------------------*/

.main [data-module-template="promos"] [data-unit-id="iphone-tradein"] .pricing-container ~ .pricing-fallback {
	display: none;
}
.main [data-module-template="promos"] [data-unit-id="iphone-tradein"] .pricing-container[style*="display: none;"] ~ .pricing-fallback {
	display: inline;
}



.main [data-module-template="promos"] [data-unit-id="iphone-tradein"] .promo-legacy-top-copy .unit-image-wrapper {
	margin-top: 0;
}

.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-iphone-tradein-promo-iphone-tradein {
    top: 10px;
}

@media only screen and (max-width: 734px) {
.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-iphone-tradein-promo-iphone-tradein {
    top: -10px;
}
}

.main [data-module-template="promos"] [data-unit-id="iphone-tradein"] .unit-copy-wrapper .subhead {
	max-width: 320px;
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] [data-unit-id="iphone-tradein"] .unit-copy-wrapper .subhead {
		max-width: 290px;
	}
}

/*------------------------------------*\
		END LOCAL FIXES
\*------------------------------------*/
